<header lazy-load-images [attr.data-background-src]="'https://res.cloudinary.com/dn1b66xo5/image/upload/v1513759863/home1_cagcml.jpg'" class="masthead h-75 text-white text-center">
    <div class="overlay"></div>
    <div class="container">
        <div class="home-info">
            <h1 class="cover-heading">Welcome to Noodles Hub</h1>
            <p class="lead">Order your delicious meals from your <strong><b>HALLS AND OFFICES</b></strong>.</p>
            <p class="lead">
                <a routerLink="/restaurants" class="btn btn-lg primary-color">Select Restaurant</a>
            </p>
        </div>
    </div>
</header>
<section class="features-icons bg-light text-center">
    <div class="container">
        <div>
            <h2 class="text-center"> How <b class="primary-color-font">it Works </b></h2>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-screen-desktop m-auto fa fa-cutlery fa-5x primary-color-font"></i>
                    </div>
                    <h3>Choose your favourite Restaurant</h3>
                    <p class="lead mb-0">Add your favourite food to cart</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto fa fa-money fa-5x primary-color-font"></i>
                    </div>
                    <h3>Pay Online or On Delivery</h3>
                    <p class="lead mb-0">Choose your favourite method of payment</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="fa fa-truck fa-5x icon-check m-auto primary-color-font"></i>
                    </div>
                    <h3>Delivery</h3>
                    <p class="lead mb-0">We deliver your food as soon as you order to your halls and offices</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="h-50 background text-center">
    <div class="container" style="padding: 2rem;">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6">
                <h1> Choose from our variety of Restaurants</h1>
            </div>
            <div class="col-12 col-sm-6 col-md-6">
                <a routerLink="/restaurants" class="btn button waves-effect" mdbRippleRadius>Restaurants</a>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <app-restaurant-card></app-restaurant-card>
</div>