<footer class="page-footer color center-on-small-only" style="margin-top: 0;">
  <div class="text-center mb-3">
    <a class="btn-floating btn-small btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"> </i></a>
    <a class="btn-floating btn-small btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"> </i></a>
    <a class="btn-floating btn-small btn-li waves-light" mdbRippleRadius><i class="fa fa-linkedin"> </i></a>
    <a class="btn-floating btn-small btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"> </i></a>
  </div>
  <div class="footer-copyright">
    <div class="container-fluid">
      &copy; Noodles-Hub 2017. Developed by <b>T.A.J</b>
    </div>
  </div>
</footer>
