<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <main role="main" class="inner cover">
        <div class="home-info">
          <h1 class="cover-heading">Welcome to Noodles Hub</h1>
          <p class="lead">Order your delicious meals from your <strong><b>HALLS AND OFFICES</b></strong>.</p>
          <p class="lead">
            <a href="#" class="btn btn-lg btn-primary">Select Restaurant</a>
          </p>
        </div>
      </main>
    </div>
  </div>
</div>
