<h2 class="text-center"> How <b style="color: #b1c522">it Works </b></h2>
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-12">
    <div class="card border" style="width: 20rem;">
      <i class="fa fa-cutlery fa-5x text-center" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title text-center">Choose your favourite Restaurant</h4>
        <p class="card-text text-center">Add your favourite food to cart</p>

      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12 text-center">
    <div class="card border" style="width: 20rem;">
      <i class="fa fa-money fa-5x" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title">Pay Online or On Delivery</h4>
        <p class="card-text">Choose your favourite method of payment.</p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-12 text-center">
    <div class="card border" style="width: 20rem;">
      <i class="fa fa-truck fa-5x" aria-hidden="true"></i>
      <div class="card-body">
        <h4 class="card-title">Delivery</h4>
        <p class="card-text">We deliver your food as soon as you order to your halls and offices</p>
      </div>
    </div>

  </div>
</div>
